* {
  padding: 0;
  margin: 0;
}

.container {
  max-width: 1160px;
  padding: 0 10px;
  margin: 0 auto;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
}

.low {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.header {
  background-color: #222222;
  padding: 18px 0;
}

.header__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__logo {
  padding-right: 40px;
}

.header__item:not(:last-child) {
  margin-right: 33px;
}

.intro {
  background-color: #F1E4E6;
  height: 764px;
  margin-bottom: 65px;
}

.intro__wrap {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-image: url(../proffesional/imgprof/Layer_57-removebg-preview1.png);
  background-repeat: no-repeat;
  background-position: -212px bottom;
}

.intro__text {
  max-width: 377px;
  border-left: 12px solid #F16D7F;
  padding-left: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 58px;
  text-align: start;
}

.decor {
  color: #F16D7F;
}

.intro__text-size {
  font-size: 48px;
}

.category__item {
  background-color: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  width: 100%;
  height: 260px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: no-repeat;
}

.category__item:not(:last-child) {
  width: 360px;
  margin: 0 0 30px 0;
}

.category__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 100px;
}

.category__text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #FFFFFF;
}

.for-img1 {
  background-image: url(../proffesional/imgprof/category-item1.png);
}

.for-img2 {
  background-image: url(../proffesional/imgprof/category-item2.png);
}

.for-img3 {
  background-image: url(../proffesional/imgprof/category-item3.png);
}

.for-img4 {
  background-image: url(../proffesional/imgprof/category-item4.png);
  background-position: center;
}

.for-text1 {
  width: 155px;
}

.for-text2 {
  width: 110px;
}

.for-text3 {
  width: 119px;
}

.for-text4 {
  width: 160px;
}

.textdecor {
  color: #F16D7F;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 38px;
  text-align: center;
}

.card__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.card__headertitle {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.card__headertext {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F;
  margin-bottom: 50px;
}

.card__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.card__item {
  z-index: 1;
  position: relative;
  width: 360px;
  height: 580px;
  background-color: #E5E5E5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 48px;
  overflow: hidden;
  cursor: pointer;
}

.card__item:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.card__item:hover:hover .overlay {
  opacity: 1;
}

.card__item.for-card2:hover .overlay {
  display: none;
}

.card__buttoncart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  border: 1px solid #FFFFFF;
  width: 138px;
  height: 43px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  background-color: Transparent;
  cursor: pointer;
}

.card__buttoncart:hover {
  background-color: #000000;
}

.card__text {
  max-width: 315px;
  margin-top: 25px;
}

.card__name {
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
}

.card__info {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #5D5D5D;
  opacity: 0.6;
  padding: 12px 0 18px 0;
}

.card__price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #F16D7F;
}

.card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 auto 95px;
  width: 211px;
  height: 47px;
  border: 1px solid #FF6A6A;
  text-decoration: none;
}

.card__button-inside {
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.card__button-inside:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 420px;
  background-color: rgba(58, 56, 56, 0.83);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
}

.footer__block1 {
  background-color: #222224;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.option__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 360px;
}

.option__head {
  padding-top: 28px;
  padding-bottom: 16px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #FBFBFB;
}

.option__text {
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #FBFBFB;
}

.footer__block2 {
  height: 448px;
  background-image: url(../proffesional/imgprof/footerbcg.jpg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__block2content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__block2info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-right: 327px;
}

.footer__block2infotext {
  max-width: 360px;
  text-align: center;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 24px;
  color: #222224;
  padding-top: 41px;
}

.footer__subscribe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 71px;
}

.footer__subscribetext {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 40px;
  text-align: center;
  color: #222224;
}

.footer__subscribetexthead {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 30px;
  text-align: center;
  color: #222224;
}

.footer__subscribesubmitbotom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__subscribesubmitbotomemail {
  padding: 7px 22px;
  border: none;
  background-color: #e1e1e1;
  border-radius: 50px 0 0 50px;
}

.footer__subscribesubmitbotomsend {
  padding: 7px 22px;
  border: none;
  background-color: #F16D7F;
  border-radius: 0 50px 50px 0;
  cursor: pointer;
}

.footer__block3 {
  background-color: #222224;
}

.footer__block3wrap {
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerblock3text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB;
}

.socialnetwork {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

.socialnetwork:hover {
  background-color: #F16D7F;
  border: none;
}

.catalogintro {
  height: 148px;
  background-color: #F8F3F4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 51px;
}

.catalogintro__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogintro__maintext {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  border: none;
  background-color: #F8F3F4;
}

.catalogintro__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogintro__navigationtext {
  text-decoration: none;
  border: none;
  background-color: #F8F3F4;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  cursor: pointer;
}

.catalogintro__navigationtext:last-child {
  color: #F16D7F;
}

.catalogintro__text {
  margin-right: 798px;
}

.catalogcard__header {
  margin-bottom: 65px;
}

.catalogcard__headerwarp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-item-align: center;
      align-self: center;
}

.catalogcard__filter {
  border: none;
  background-color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catalogcard__filter ::-webkit-details-marker {
  display: none;
}

.catalogcard__filter-content {
  z-index: 2;
  position: absolute;
  background-color: #FFFFFF;
  width: 360px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalogcard__filter-content [open] {
  background-color: #FFFFFF;
  padding-left: 10px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.catalogcard__filter-content [open] > summary {
  background-color: #FFFFFF;
  border: none;
  outline: none;
}

.catalogcard__filter-title {
  height: 30px;
  padding-top: 16px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-left: 12px solid #F16D7F;
}

.catalogcard__filter-list {
  position: relative;
  background-color: #FFFFFF;
  width: 360px;
  left: 0;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style-type: none;
}

.catalogcard__filter-item {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 34px;
}

.catalogcard__filter-link {
  text-decoration: none;
  color: #6F6E6E;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
}

.catalogcard__menuwrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 450px;
}

.catalogcard__menuwrap ::-webkit-details-marker {
  display: none;
}

.catalogcard__menu {
  border: none;
  background-color: #FFFFFF;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  margin-right: 28px;
  cursor: pointer;
}

.catalogcard__menu-size {
  z-index: 2;
  position: absolute;
  background-color: #FFFFFF;
  width: 80px;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
  list-style-type: none;
  color: #6F6E6E;
}

.catalogcard__catalogcard__menu-size-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
}

.pagination {
  border: 1px solid #EBEBEB;
  width: 282px;
  height: 43px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 97px;
}

.pagination a {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.4;
  float: left;
  padding: 4px 8px;
  text-decoration: none;
  -webkit-transition: background-color .3s;
  transition: background-color .3s;
}

.pagination a.active {
  color: #F16D7F;
  opacity: 1;
}

.pagination a.active:hover:not(.active) {
  background-color: #ddd;
}

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url(./imgprof/sliderimg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-color: #F7F7F7;
  height: 777px;
}

.slider__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.slider__btn_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  cursor: pointer;
}

.slider__btn_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(42, 42, 42, 0.15);
  width: 47px;
  height: 47px;
  cursor: pointer;
}

.third-page__menu-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
  margin-bottom: 48px;
}

.third-page__menu-wrap ::-webkit-details-marker {
  display: none;
}

.third-page__modal-window {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #FFFFFF;
  margin-top: -66px;
  margin-bottom: 129px;
  border: 1px solid #EAEAEA;
  max-height: 600px;
}

.third-page__modal-window:hover {
  -webkit-box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
}

.third-page__modal-window-text1 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #F16D7F;
  opacity: 0.8;
  padding-top: 64px;
  padding-bottom: 12px;
}

.third-page__modal-window-text1-border {
  margin: 0 auto;
  max-width: 63px;
  border-bottom: 7px solid #EF5B70;
}

.third-page__modal-window-text2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  color: #4D4D4D;
  opacity: 0.8;
  padding-top: 12px;
  padding-bottom: 48px;
}

.third-page__modal-window-text3 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  opacity: 0.8;
  padding-bottom: 32px;
}

.third-page__modal-window-text4 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #EF5B70;
  opacity: 0.8;
  padding-bottom: 65px;
}

.third-page__modal-window-hr {
  margin: 0 auto;
  width: 641px;
}

.third-page__modal-window-button {
  margin: 0 auto;
  outline: 1px solid #FF6A6A;
  padding: 12px 0;
  margin-bottom: 50px;
}

.third-page__modal-window-button-inside {
  text-decoration: none;
  text-align: center;
  color: #EF5B70;
  padding: 13px 56px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 100%;
  background-color: #FFFFFF;
  cursor: pointer;
}

.third-page__modal-window-button-inside:hover {
  background-color: #FF6A6A;
  color: #FFFFFF;
}
<<<<<<< Updated upstream
=======

.cart-intro {
  height: 148px;
  background: #F8F3F4;
  margin-bottom: 96px;
}

.cart-intro__text {
  background-color: #F8F3F4;
  margin-top: 60px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  cursor: pointer;
}

.cart-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-page__content-left {
  width: 652px;
  padding-bottom: 128px;
}

.cart-card__item {
  width: 652px;
  height: 306px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 48px;
  cursor: pointer;
  -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px 0px;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 8px 0px;
  overflow: hidden;
}

.cart-card__img {
  height: 100%;
}

.cart-card__text {
  width: 262px;
}

.cart-card__text-option {
  padding-top: 22px;
  padding-left: 31px;
  padding-bottom: 62px;
}

.cart-card__text-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  padding-bottom: 42px;
}

.cart-card__text-price {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
  color: #575757;
}

.cart-card__text-price-decor {
  color: #f16d7f;
}

.cart-card__text-color {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
  color: #575757;
}

.cart-card__text-size {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
  color: #575757;
}

.cart-card__text-quantity {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  opacity: 0.8;
  color: #575757;
}

.cart-card__input {
  width: 24px;
  text-align: center;
  margin-left: 24px;
}

.cart-card__close {
  padding-left: 57px;
  padding-bottom: 215px;
}

.cart-card__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart-card__button-style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  width: 234px;
  height: 49px;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: #a4a4a4;
  -o-border-image: initial;
     border-image: initial;
}

.cart-page__content-right-up {
  width: 360px;
  height: 272px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 57px;
}

.cart-page__content-right-up-input:not(:last-child) {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 360px;
  height: 45px;
}

.cart-page__content-right-up-input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
  width: 100px;
  height: 34px;
  padding-left: 17px;
}

.cart-page__content-right-down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 214px;
  background: #f5f3f3;
}

.cart-page__content-right-down-text {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 11px;
  line-height: 13px;
}

.cart-page__content-right-down-text-1 {
  width: 108px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 39px 34px 12px 218px;
}

.cart-page__content-right-down-text-2 {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0px 37px 0px 153px;
}

.cart-page__content-right-down-text-2-decor {
  color: #f16d7f;
}

.cart-page__content-right-down-hr {
  padding: 0px;
  margin: 0px 50px;
}

.cart-page__content-right-down-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 42px;
}

.cart-page__content-right-down-button-inside {
  cursor: pointer;
  width: 273px;
  height: 50px;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: white;
  border-width: initial;
  border-style: none;
  border-color: initial;
  -o-border-image: initial;
     border-image: initial;
  background: #f16d7f;
}

.checkout-intro {
  height: 148px;
  background: #F8F3F4;
  margin-bottom: 96px;
}

.checkout-intro__text {
  background-color: #F8F3F4;
  margin-top: 60px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  cursor: pointer;
}

.checkout-page__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.checkout-page__content-left-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 149px;
  padding-bottom: 34px;
}

.checkout-page__content-left-login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
  height: 149px;
  padding-bottom: 15px;
}

.checkout-page__content-left-input {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  width: 360px;
  height: 45px;
  padding-left: 17px;
}

.checkout-page__content-left-input-title {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  opacity: 0.8;
}

.checkout-page__content-left-input-radio {
  width: 208px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  opacity: 0.8;
  padding-bottom: 33px;
}

.checkout-page__content-left-input-warning {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
}

.checkout-page__content-left-button {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-bottom: 120px;
  padding-top: 120px;
}

.checkout-page__content-left-button-inside {
  cursor: pointer;
  width: 273px;
  height: 50px;
  border: none;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
  background: -webkit-gradient(linear, left top, right top, from(#fa7087), to(#fa7087));
  background: linear-gradient(90deg, #fa7087 0%, #fa7087 100%);
  border: none;
  border-radius: 270px;
  -webkit-box-shadow: 12px 12px 24px #fa7087;
          box-shadow: 12px 12px 24px #fa7087;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  outline: none;
  position: relative;
  padding: 10px;
}

.checkout-page__content-left-button-inside::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #F16D7F;
  -webkit-box-shadow: 0 0 60px #fa7087;
          box-shadow: 0 0 60px #fa7087;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.checkout-page__content-left-button-inside:hover {
  color: #313133;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.checkout-page__content-left-button-inside:focus {
  color: #313133;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.checkout-page__content-left-button-inside:hover::before {
  opacity: 1;
}

.checkout-page__content-left-button-inside:focus::before {
  opacity: 1;
}

.checkout-page__content-left-button-inside::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #F16D7F;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}

.checkout-page__content-left-button-inside:hover::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}

.checkout-page__content-left-button-inside:focus::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.checkout-page__content-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 610px;
  height: 334px;
  font-family: Lato;
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
}

.checkout-page__content-right-svg {
  margin-right: 23px;
}
>>>>>>> Stashed changes
/*# sourceMappingURL=shop main.css.map */