@import "./vars";

.cart-page {

    &__content {
        display: flex;
        justify-content: space-between;
        &-left {
            width: 652px;
            padding-bottom: 128px;
            .cart-card {

                &__item{
                    display: flex;
                    width: 652px;
                    height: 306px;
                    background-color: #FFFFFF;
                    display: flex;
                    align-items: center;
                    margin-bottom: 48px;
                    overflow: hidden;
                    cursor: pointer;
                    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.15);
                }
    
                &__img {
                    height:100%;
                }
    
                &__text {
                    width: 262px;
                    &-option {
                        padding-top: 22px;
                        padding-left: 31px;
                        padding-bottom: 62px;
                    }
    
                    &-title {
                        @include text_style (24px, 29px);
                        padding-bottom: 42px;
                    }
    
                    &-price {
                        @include text_style(22px, 26px);
                        opacity: 0.8;
                        color: #575757;
                        &-decor {
                            color: #F16D7F;
                        }
                    }
    
                    &-color {
                        @include text_style(22px, 26px);
                        opacity: 0.8;
                        color: #575757;
                    }
    
                    &-size {
                        @include text_style(22px, 26px);
                        opacity: 0.8;
                        color: #575757;
                    }
    
                    &-quantity {
                        @include text_style(22px, 26px);
                        opacity: 0.8;
                        color: #575757;
                    }
                }
    
                &__input {
                    width: 24px;
                    text-align: center;
                    margin-left: 24px;
                }
    
                &__input::-webkit-inner-spin-button { 
                        display: none;
                    }
                &__close {
                 padding-left: 57px;
                    padding-bottom: 215px;
                }
    
                &__button {
                    display: flex;
                    justify-content: space-between;
                    &-style {
                        @include text_style(14px, 17px);
                        border: none;
                        cursor: pointer;
                        width: 234px;
                        height: 49px;
                        background-color: #FFFFFF;
                        border: 1px solid #A4A4A4;
                    }
                }
            }

        }
        
        &-right {
            &-up {
                width: 360px;
                height: 272px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-bottom: 57px;
                &-input {
                    @include text_style (11px, 13px);
                    width: 100px;
                    height: 34px;
                    padding-left: 17px;
                    &:not(:last-child) {
                        @include text_style (13px, 16px);
                        width: 360px;
                        height: 45px;
                    }
                    &-title {
                        @include text_style (16px, 19px);
                        color: #222222;
                        opacity: 0.6;
                    }
                }

            }
            &-down {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 360px;
                height: 214px;
                background: #F5F3F3;
                &-text {
                    @include text_style (11px, 13px); 
                    &-1 {
                        padding: 39px 34px 12px 218px;
                        width: 108px;
                        display: flex;
                        justify-content: space-between;
                    }
                    &-2 {
                        @include text_style (16px, 19px);
                        padding: 0 37px 0 153px; 
                        width: 170px;
                        display: flex;
                        justify-content: space-between;
                        &-decor {
                            color: #F16D7F;
                        }
                    }
                }

                &-hr {
                    padding: 0;
                    margin: 0 50px;
                }

                &-button {
                    align-self: center;
                    padding-bottom: 42px;
                    &-inside {
                        cursor: pointer;
                        width: 273px;
                        height: 50px;
                        border: none;
                        @include text_style (16px, 19px);
                        color: #FFFFFF;
                        background: #F16D7F;
                    }
                } 
            }
        }

    }

}

