@import "./vars";

.category {
    &__item {
        background-color: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7));
        width: 100%;
        height: 260px;
        display: flex;
        justify-content: center;
        align-items: center;
        background: no-repeat;
        &:not(:last-child) {
            width: 360px;
            margin: 0 0 30px 0;
        }
    }
    &__wrap {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 100px;
    }
    &__text {
        @include text_style (16px, 19px);
        text-align: center;
        color: #FFFFFF;
    }
}

.for-img1 {
    background-image: url(../proffesional/imgprof/category-item1.png);
}

.for-img2 {
    background-image: url(../proffesional/imgprof/category-item2.png);
}

.for-img3 {
    background-image: url(../proffesional/imgprof/category-item3.png);
}

.for-img4 {
    background-image: url(../proffesional/imgprof/category-item4.png);
    background-position: center;
}

.for-text1 {
    width: 155px;
}
.for-text2 {
    width: 110px
}   
.for-text3 {
    width: 119px
}
.for-text4 {
    width: 160px
}

.textdecor {
    color: #F16D7F;
    @include text_style (24px, 38px);
    text-align: center; 
}