@import "./vars";

.catalogintro {
    height: 148px;
    background-color: #F8F3F4;
    display: flex;
    align-items: center;
    margin-bottom: 51px;
    
    &__wrap {
        display: flex;
         
    }
    &__maintext {
        @include text_style (24px, 29px);
        color: #F16D7F;
        border: none;
        background-color: #F8F3F4;
    }

    &__navigation {
        display: flex;
    }

    &__navigationtext {
        border: none;
        background-color: #F8F3F4;
        @include text_style (14px, 17px);
        color: #636363;
        cursor: pointer; 
        &:last-child {
            color: #F16D7F;
        }   
    }
    &__text {
        margin-right: 798px;
    }
}

