@import "./vars";

.footer {
    
    &__block3 {
        background-color: #222224;
    }
    
    &__block3wrap {
        height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
}

.footerblock3text {
    @include text_style (16px, 19px);
    color: #FBFBFB;    
}

.socialnetwork {
    width: 32px;
    height: 32px;
    cursor: pointer;
    &:hover {
        background-color: #F16D7F;
        border: none;
    }
}

@media (max-width: 768px) {
    
}

@media (max-width: 375px) {
    .footer__block3wrap {
        display: flex;
        flex-direction: column;
    }  
    
    .footerblock3text {
        order: 1;
    }

    .footerblock3button {
        order: 0;
    }
}